.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #2c3e50;
    text-align: center;
  }
  
  .inputContainer {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  .todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    word-wrap: break-word;
    flex-wrap: wrap; 
  }


  .buttonGroup {
    display: flex;
    gap: 30px; 
    margin-left: auto; 
  }
  
  .deleteButton,
.editButton,
.completeButton,
.saveButton {
  border: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.deleteButton:hover,
.editButton:hover,
.completeButton:hover,
.saveButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.editButton {
  background-color: #ffc107;
}

.completeButton {
  background-color: #28a745;
}

.saveButton {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #007bff;
}

.deleteButton {
  background-color: #e74c3c;
}